---
const links = [
  { href: "/concerts",  label: "Concerts" },
  { href: "/media",     label: "Médias" },
  { href: "/galerie",   label: "Galerie" },
  { href: "/prestations", label: "Prestations" },
  { href: "/contact",   label: "Contact" }
  //{ href: "/newsletter",label: "Newsletter" },
];
---
<nav class="w-full py-4 flex items-center justify-between">
  <a href="/" class="text-3xl font-extrabold tracking-wide font-display leading-none">
    NEVROSYNE
  </a>
  <ul class="hidden md:flex gap-6 text-sm">
    {links.map(l => (
      <li>
        <a class="opacity-80 hover:opacity-100 hover:underline underline-offset-4" href={l.href}>
          {l.label}
        </a>
      </li>
    ))}
  </ul>
</nav>